<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Seouri.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
				<key>dateExpires</key>
				<string>2018. 3. 22.</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Floaty.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KMPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJSegmentedScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SlideMenuControllerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldCounter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D5D835945CD2A6565532930D9B08CF98553EAAC6</string>
						<key>dateExpires</key>
						<string>2018. 3. 22.</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDM9YQVH76</string>
						<key>name</key>
						<string>Wonil YOO</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UDM9YQVH76.com.Seouri</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UDM9YQVH76</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UDM9YQVH76.com.Seouri</string>
				</array>
			</dict>
			<key>name</key>
			<string>Seouri.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e798506-53a7-46a5-9a88-69b7da2a77bb</string>
				<key>name</key>
				<string>Seouri_iphone_test_provisioning</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UDM9YQVH76</string>
				<key>name</key>
				<string>Wonil YOO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
